@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden
}

.game-bgr {
  @apply flex h-screen w-screen flex-col items-center justify-center overflow-hidden;
  background-image: url("./bgr.png");
  background-size: cover;
  user-select: none;
  overflow: hidden;
}

#game-round-ttl {
  -webkit-text-stroke: 4px theme('colors.slate.50')
}

.shadow-bgr {
  box-shadow: -25px 29px 21px 11px rgba(51, 51, 51, 0.69);
  -webkit-box-shadow: -25px 29px 21px 11px rgba(51, 51, 51, 0.69);
  -moz-box-shadow: -25px 29px 21px 11px rgba(51, 51, 51, 0.69);

}

.scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}


.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
          animation: flip-in-hor-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

.appear-and-shake {
  -webkit-animation: appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both, shake-horizontal 3.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s infinite both;
          animation: appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both, shake-horizontal 3.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s infinite both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
